h1, h3 {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

.exercise-options-wrapper {
    width: 80%;
    margin: 0 auto;
}

.exercise-options-continue {
    display: block;
    margin: 0 auto;
}