@import "../styles/mixins";

$accidental-size: 40px;

.note {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

    &.active {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    }

    &.note-whole {
        background-image: url('../images/note-whole.svg');
    }

    &.note-half {
        background-image: url('../images/note-half.svg');
    }

    &.note-quarter, &.note-8th, &.note-16th, &.note-32nd {
        background-image: url('../images/note.svg');
    }
}

.stem {
    position: absolute;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('../images/note-stem.svg');

    &.down {
        background-position: left center;
    }
}

.stem-flag {
    position: absolute;
    background-repeat: no-repeat;
    background-position: right center;

    &.down {
        background-position: left center;
        transform: scaleY(-1);
    }
}

.note-8th {
    .stem-flag {
        background-image: url('../images/flag-8.svg');
    }
}

.note-16th {
    .stem-flag {
        background-image: url('../images/flag-16.svg');
    }
}

.note-32nd {
    .stem-flag {
        background-image: url('../images/flag-32.svg');
    }
}

.accidental {
    position: absolute;
}

.key-symbol {
    width: $accidental-size;
    height: $accidental-size;
    position: absolute;
}

.sharp {
    @extend .key-symbol;
    @include background-image('sharp.svg');
}

.flat {
    @extend .key-symbol;
    @include background-image('flat.svg');
}

.natural {
    @extend .key-symbol;
    @include background-image('natural.svg');
}