@import "./styles/mixins";

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

a {
    color: initial;
}

p.intro-text {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    @include fade-in(250ms, 500ms);
}

@media screen and (max-width: 605px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 18px;
    }
}
